.idea/
documents/
mainsite/mainsite/settings.py
mainsite/.env
mainsite/l_orchidee/documents/
mainsite/ciblerie/static/ciblerie/pictures/
mainsite/cinetic/migrations/0001_initial.py
mainsite/hunting_quizz/migrations/0001_initial.py
mainsite/l_orchidee/migrations/0001_initial.py
mainsite/limobooking/migrations/0001_initial.py
mainsite/purbeurre/migrations/0001_initial.py
mainsite/ciblerie/image_copy.py
mainsite/l_orchidee/management/commands/old_populate.py
mainsite/l_orchidee/old_views.py
mainsite/l_orchidee/templates/l_orchidee/old_base.html
mainsite/purbeurre/templates/purbeurre/old_base.html
mainsite/purbeurre/old_models.py
mainsite/grandpy/tests/test_views.py


