{% extends "ciblerie/base.html" %}
{% load static %}
{% block wrapper %}

  <section class="page-section" id="services">
    <div class="container">
      <div class="text-center"><br /><br />
        <h3 class="section-subheading text-muted">Application Ciblerie</h3><br /><br />
        <p>
          Première phrase sur cette application.
          <br /><br />
        </p>



          <br /><br />
          truc muche
      </div>
    </div>
  </section>
  <br /><br /><br /><br /><br />

{% endblock %}















