{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="contact" class="section-bg wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h3>Me Contacter</h3>
      <p> </p>
    </div>
    <div class="row contact-info">
      <div class="col-md-4">
        <div class="contact-address">
          <i class="ion-ios-location-outline"></i>
          <h3>Adresse</h3>
          <address>Région Parisienne, France</address>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-phone">
          <i class="ion-ios-telephone-outline"></i>
          <h3>Téléphone</h3>
          <p><a href="#"></a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-email">
          <i class="ion-ios-email-outline"></i>
          <h3>Email</h3>
          <p><a href="mailto:ebresler@live.fr">ebresler@live.fr</a></p>
        </div>
      </div>
    </div>
        <br /><br /><br /><br /><br /><br />
  </div>
</section>
{% endblock %}